
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;

    transition: all .2s linear;
}

header ul li a:hover {
    background-color: white;
    color: #2b1055;
}

header ul li a:hover,
header ul li a.active {
    background-color: white;
    color: #2b1055;
}

/* SECTION */
section {
    width: 100%;
    height: 100vh;

    position: relative;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    z-index: 9;
    color: white;
    font-size: 7.5vw;
    white-space: nowrap;
    right: -50px;
}

#btn {
    font-size: 1.5em;
    color: #2b1055;
    background-color: white;
    border-radius: 40px;
    padding: 8px 25px;
    text-decoration: none;
    display: inline-block;
    transform:  translateY(80px);
    margin-left: 15px;

    z-index: 9;
}

/* information */

.secondary {
    background: #1c0522;
    padding: 100px;

    position: relative;
    z-index: 1000;
}

.secondary h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.secondary p {
    font-size: 1em;
    color: white;
}